/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;
    height: 5.25rem;
    margin-bottom: 1.125rem;
    background-color: orange;
    border-top-left-radius: 0.938rem;
    border-top-right-radius: 0.938rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Hamburger Menu */
.menu-icon {
    display: none; /* Hide the menu icon by default on desktop */
    flex-direction: column;
    cursor: pointer;
    padding: 1.4rem;
}

.bar {
    width: 1.875rem;
    height: 0.188rem;
    background-color: black;
    margin: 0.188rem 0;
    transition: 0.4s;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    height: auto;
}

.nav-item {
    padding: 0.4rem;
    margin: 0 1.25rem;
    list-style: none;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    flex: 1;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.active-link {
    color: white;
}

.nav-item:hover .nav-link {
    color: white;
}

/* Media query for mobile responsiveness */
@media (max-width: 806px) {
    .menu-icon {
        display: flex;
        z-index: 2; /* Show the menu icon on smaller screens */
    }

    .links {
        display: none; /* Hide the links by default on smaller screens */
        flex-direction: column;
        background-color: orange;
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        padding: 1rem;
        z-index: 2;
    }

    .links.active {
        display: flex; /* Show the links when the menu is active */
    }

    .bar {
        background-color: black;
        z-index: 3;
    }

    .navbar {
        border-bottom: none;
        width: 100vw;
    }
}

@media (min-width: 806px) and (max-width: 1468px) {
    ul,
    .nav-item {
        padding: 0.1rem;
        margin: 0 1rem;
        font-size: 0.9rem;
    }
    .navbar {
        border-bottom: none;
        width: 97vw;
    }
}
